/* Orbitron font family */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Press+Start+2P&display=swap');

.main {
	background-color: black;
	height: 100vh;
	width: 100vw;
}
.windshield {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	border: 14px solid snow;
}
.starfield {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.star {
	position: absolute;
	animation: stars 200s linear infinite;
}
.textContainer {
	position: absolute;
	top: 42%;
	width: 100%;
	text-align: center;
	height: 2.2rem;
	overflow: hidden;
}
.p {
	font-family: 'Orbitron', sans-serif;
	font-size: 2rem;
	color: #00FF00;
	animation: scrollTextUpwards 16s linear infinite;
	z-index: 4;
}
.title {
	font-weight: bold;
}

.a {
	font-family: 'Orbitron', sans-serif;
	font-size: 1.5rem;
	color: #00FF00;
	text-decoration: none;
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
}

/* Animations */
@keyframes stars {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-2000px, 180px);
	}
}

@keyframes scrollTextUpwards {
	0% {
		transform: translateY(120%);
	}
	100% {
		transform: translateY(-300%);
	}
}

