.nav {
	padding: 10px 10%;
	display: flex;
	justify-content: space-between;
	background: black;
	color: var(--primary-color);
	align-items: center;
	font-size: 1.5rem;
}
.ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.li:not(:last-child) {
	margin-right: 10px;
}
.a {
	text-decoration: none;
	font-size: 1.5rem !important;
}
.logoContainer {
	display: flex;
	align-items: center;
	height: 35px;
}
.logo {
	height: 40px;
	width: auto;
	margin-left: 10px;
}
.appname {
	font-family: var(--font-alternative);
	font-weight: bold;
}
