.content {
	font-family: var(--font-alternative);
}
.h1 {
	font-size: 2.5rem;
	font-weight: 700;
	color: var(--thirdary-color);
	margin-bottom: 1.5rem;
	text-align: center;
}
.section {
	margin: .8rem 0;
}
.h3 {
	font-size: 1.5rem;
	color: var(--primary-color);
	background-color: black;
	padding: .5rem;
	margin-bottom: 1rem;
}
.p {
	margin: .7rem 0;
	font-size: 1.2rem;
}
.li {
	font-size: 1.2rem;
	margin-left: 2rem;
}
.a {
	color: var(--thirdary-color);
	font-weight: bold;
}
.a:hover {
	animation: enlargeText .6s forwards;
}

@keyframes enlargeText {
	0% {
		font-size: 1.2rem;
	}
	100% {
		font-size: 1.4rem;
	}
}


